# .pre-commit-config.yaml
default_stages: [pre-commit]
repos:
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.104.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
        args:
          - --tf-init-args=-upgrade
          - --hook-config=--retry-once-with-cleanup=true # requires jq - cleans up broken .terraform directories
      - id: terraform_tflint
        args:
          - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
      - id: terraform_trivy # Known issues with trivy v0.62+ due to null values in some parameters
        args:
          - --args=--quiet
          - --args=--skip-dirs="**/.terraform"
      - id: terraform_checkov
        args:
          - --args=--quiet
      - id: terraform_docs
        args:
          - --args=--config=.terraform-docs.yml
      - id: tfupdate
        name: Autoupdate Terraform Google Provider
        args:
          - --args=provider google -v "~> 5.0"
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: detect-private-key
